body { /*Esse body aqui só serve para o LOGIN.html - alterar o nome da classe dps e passar para o arquivo principal*/
      
      font-family: Arial, sans-serif;
      display: flex;
      height: 100vh;
      align-items: center;
      justify-content: center;
      margin: 0;
      background-image: url(/assets/banner_hero.jpg); 
      background-color: #f0f2f5;
      background-size: cover; 
      background-position: center;
    }
    /*Restande das classes é utilizada somente no login.html - passar para o arquivo principal dps*/
    .login-container {
      background-color: #fff;
      padding: 30px 40px;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 350px;
    }

    .login-container h2 {
      text-align: center;
      margin-bottom: 5px;
      color: #333;
    }

    .login-container h4 {
      text-align: center;
      margin-bottom: 20px;
      color: #666;
      font-weight: normal;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #333;
    }

    .form-group input {
      width: 94%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
    }

    .login-button {
      width: 100%;
      padding: 10px;
      background-color: #9d4edd;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
    }

    .login-button:hover {
      background-color: #3c096c;
    }